/* sortable CSS */

    #sortable { display:inline-block; list-style-type: none; margin: 10px; padding: 0; width: 660px; }
    #sortable span { margin-left: 20px; float: left; width: 200px; height: 200px;}
    #sortable li { margin: 20px 50px 20px 50px; padding: 1px; float: left;
        width: 120px; height: 120px; background-size: 100% 100px;}
        
	.sortable {
		margin-top: 90px;
	}