@CHARSET "UTF-8";

.dropzone, .dropzone * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dropzone {
	border: 1px solid rgba(0, 0, 0, 0.08);
	background: rgba(0, 0, 0, 0.02);
	padding: 1em;
	min-height: 360px;
	cursor: pointer;
}

.dz-preview {
	position: relative;
	border: 1px solid #000;
	width: 130px;
	height: 180px;
	display: inline-block;
	margin: 10px;
	vertical-align: top;
	cursor: default;
	border: 1px solid #acacac;
	padding: 6px 10px 6px 10px;
}

.dz-details img {
	absolute : top left;
	display: block;
}

.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img {
  display: none;
}

.dz-default.dz-message {
	opacity: 1;
	-ms-filter: none;
	filter: none;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	/* background-image: url("../img/spritemap.png"); */
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	width: 428px;
	height: 123px;
	margin-left: -214px;
	top: 20%;
	left: 50%;
}

.dz-started .dz-message {
	display: none;
}

.dropzone .dz-default.dz-message span, .dz-started.dz-message span {
	display: none;
}

#progress_bar {
	margin: 10px 0;
	padding: 3px;
	border: 1px solid #000;
	font-size: 14px;
	clear: both;
	opacity: 0.0;
	-moz-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	-webkit-transition: opacity 1s linear;
}

#progress_bar.loading {
	opacity: 1.0;
}

#progress_bar .percent {
	background-color: #99ccff;
	height: auto;
	width: 0;
}

[data-dz-thumbnail] {
	width: 100px;
	height: 100px;
	margin: 10px 5px 0 0;
	border: 1px solid #000;
}