<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fileupload">
	
	<!-- 디렉토리가 있는지 확인하는 쿼리 -->
	<select id="isDir" parameterType="bit.project.imagic.vo.FileVO" resultType="int">
		select count(*) from dir
		where dir_m_id=#{m_id} 
			and dir_name=#{dirName}
	</select>
	
	<!-- 해당 유저의 디렉토리 목록불러오기 -->
	<select id="selectDir" parameterType="bit.project.imagic.vo.FileVO" resultType="java.lang.String">
		select dir_name as dirList from dir 
		where dir_m_id=#{m_id}
	</select>
	
	<!-- 디렉토리 생성하는 쿼리 -->
	<insert id="dirCeate" parameterType="bit.project.imagic.vo.FileVO" > 
		insert into dir(dir_m_id, dir_name) values(
			#{m_id},
			#{dirName}
			)
	</insert>
	
	<!-- 폴더이름 변경하는 쿼리 -->
	<update id="renameDir" parameterType="bit.project.imagic.vo.FileVO" >
		UPDATE dir
		SET dir_name=#{dirRename}
		WHERE dir_m_id=#{m_id}
			and dir_name=#{dirName}
	</update>

	<!-- 폴더 삭제 하는 쿼리 -->
	<delete id="deleteDir" parameterType="bit.project.imagic.vo.FileVO" >
		delete from dir
		where dir_m_id=#{m_id}
			and dir_name=#{dirName}
	</delete>
	
	<!-- 해당 폴더 파일 리스트를 만들어서 가져오는 곳 -->
	<select id="fileList" parameterType="bit.project.imagic.vo.FileVO" resultType="bit.project.imagic.vo.FileListVO">
		 select img.img_num, 
				img.img_m_id as m_id, 
				img.img_dir_num as dirNum, 
				img.img_o_name as imgOriName, 
				img.img_size as imgLength,
				img.img_s_name as imgName
		 from image img, dir
		 where img.img_dir_num=dir.dir_num
		   and img.img_dir_num=(select dir_num from dir where dir_m_id=#{m_id} and dir_name=#{dirName})
	</select>
	
	<!-- 파일 한개마다 정보를 저장하는 쿼리 -->
	<insert id="fileUpload" parameterType="bit.project.imagic.vo.FileVO">
		<selectKey keyProperty="dirNum" order="BEFORE" resultType="java.lang.Integer">
			SELECT dir_num FROM dir
			where dir_m_id=#{m_id} and dir_name=#{dirName}
		</selectKey>
		
		insert into image (img_m_id, 
						   img_dir_num, 
	 					   img_s_name, 
	 					   img_o_name, 
	 					   img_size,
	 					   img_thumb)
					
					values(#{m_id},
						   #{dirNum},	
						   #{imgName},	
						   #{imgOriName},	
						   #{imgLength},
						   #{imgThumb})
				
	</insert>
	
	
	
</mapper>















