@CHARSET "UTF-8";
#file_main {
	position: relative;
	width:  90000px;
}
#file_main_aside {
	float: left;
	width: 300px;
	background-color: skyblue;
}
#file_main_bside {
	
	float: left;
	width: 500px;
	background-color: ;
}

.folder {
	cursor: pointer;
}
.folder > button {
	display: none;
	
}
.folder.clicked > button{
	display: inline-block;
} 
