/* main CSS */

.TravieMain{
	text-align: center; 
	height: 500px;
	
	
/* 	background-image: url("../../img/travieMain1.jpg"); */
	background: #49525b url("../../img/travieMain2.jpg")  no-repeat 100% 0%;
/* 	background-repeat: no-repeat 100% 0%; */
	background-size: cover;
}

.title.heading{
	line-height:75px;
	color: rgb(230,230,230);
}

.title.lead{
	color: rgb(230,230,230);
	margin-top: 200px;
}

@media screen and (max-width: 767px) {
  .heading {
  	font-size: 30px;
  }
  
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
	.title.lead{
		color: rgb(25, 25, 25);
	}
}