/* make CSS */
#userSetClose{
	margin-bottom: 10px;
}

#step1, #step2, #step3, #step4{
	text-align: center;
	height: 180px;
}


/* 방향 추천하는 부분 */
#step1Str{
	color: skyblue;
	font-size: 15px;
	position: relative;
}


.direction_radio_group{
	margin-top : 40px;
}

.ratio_radio_group, .runtime_radio_group {
	margin-top : 60px;
}

.quality_radio_group {
	margin-top : 30px;
}

#imgLowSpan, #imgMiddleSpan, #imgHiSpan {
	width: 160px;
	display: block;
	text-align: left;
}

.custom_page{
	
	margin-bottom: 10px;
	
}



/* radio button 변경  12/31 */
input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 2px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=radio].css-checkbox + label.css-label {
    padding-left: 30px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -24px;
}

label.css-label {
    background-image: url(../../img/checkbox1.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal-static { 
    position: fixed;
    top: 50% !important; 
    left: 50% !important; 
    margin-top: -100px;  
    margin-left: -100px; 
    overflow: visible !important;
}
.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content {
    width: 200px; 
    height: 200px; 
}
.modal-static .modal-dialog,
.modal-static .modal-content {
    padding: 0 !important; 
    margin: 0 !important;
}
.modal-static .modal-content .icon {
}